* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Garamond, sans-serif;
	background: url(images/content-bg.png) right repeat-y #FFFADA;
}

h1 { font-size: 4.0em; }
p, li { font-size: 1.8em; }

.clear { clear: both; }

#header {
	background: #e3da9d;
	padding: 15px 0 15px 15px;
}

#content {
	padding: 15px 10px 0 0;
	height: 500px;
}
	#main-content {
		margin-left: 15px;
	}

	#sidebar {
		width: 145px;
		float: right;
		padding: 0 0 0 15px;
	}
	#sidebar ul {
		list-style: inside;
	}
#footer {
		background: #e3da9d;
	padding: 15px 0 15px 15px;
	width: 1351px;
}
}
